body {
	background-color: #fff;
	font-family: 'Roboto', 'serif';
}
.container {
	margin: 0px 250px;
}

.headers-buttons {
	display: flex;
	font-weight: bold;
	font-size: 18px;
	align-items: center;
	justify-content: space-between;
	padding-top: 34px;
	padding-bottom: 32px;
	border-bottom: solid;
	border-width: 1px;
	color: #828282;
}
.header-btn {
	text-decoration: none;
	color: #828282;
	transition: color 0.2s linear;
}
.header-btn:hover {
	color: #070707;
}

.inf-title {
	font-size: 48px;
	font-weight: bold;
	padding-top: 40px;
}
.information {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.inf-who-i-am {
	font-weight: medium;
	font-size: 18px;
	padding-top: 95px;
	margin-bottom: 54px;
}
.page-language {
	transform: rotate(-90deg);
	cursor: pointer;
    font-weight: bold;
}
.page-language span {
    color: #828282;
    font-size: 16px;
    transition: color 0.2s linear;
}
.page-language span:hover {
	color: #070707;
}
.me-img {
	background-image: url(images/me.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
}

.about-me {
	background-color: #F6F6F6;
}
.about-me-title {
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	padding-bottom: 18px;
	padding-top: 120px;
}
.about-me-main-inf {
	font-size: 18px;
	font-weight: medium;
	text-align: center;
	padding-bottom: 20px;
}
.bott {
	padding-bottom: 107px;
}

.skills-title {
	font-weight: bold;
	text-align: center;
	font-size: 34px;
	padding-top: 91px;
}
.skills-subtitle {
	padding-top: 70px;
	text-align: center;
	font-size: 18px;
	font-weight: medium;
}
.skills-images {
	padding-top: 84px;
	display: flex;
	justify-content: space-around;
}
.skill-img-main p {
	text-align: center;
	padding-top: 24px;
	font-weight: bold;
	color: #828282;
}
.skills-img {
	display: block;
	margin: 0 auto; 
}
.img-star {
	align-items: center;
	padding-bottom: 111px;
}

.portfolio {
	background-color: #F6F6F6;
}
.portfolio-title {
	text-align: center;
	font-weight: bold;
	font-size: 34px;
	padding-top: 113px;
	margin-bottom: 47px;
}
.port-images {
	text-align: center;
}
.port-images a {
	color: #070707;
	font-weight: medium;
	font-size: 18px;
}
.img-online-store{
	padding-bottom: 100px;
}
.img-online-store img {
	margin-bottom: 45px;
}

.contacts-title {
	text-align: center;
	font-weight: bold;
	font-size: 34px;
	padding-top: 115px;
}
.contacts-sub {
	text-align: center;
	font-weight: medium;
	font-size: 18px;
	padding-top: 21px;
}
.send-btn {
	text-align: center;
	padding-top: 30px;
}
.send-btn-a {
	border-radius: 25px;
	font-weight: bold;
	padding: 13px 30px;
	color: #F6F6F6;
	background-color: #070707;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.2s linear;
}
.send-btn-a:hover {
	background-color: #828282;
}
.images-links {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 86px;
}
.image-link {
	margin-right: 62px;
}
.last-link {
	margin-right: 0;
}
.like-me {
	text-align: center;
	color: #828282;
	font-size: 14px;
	padding-top: 46px;
	margin-bottom: 124px;
	font-weight: medium;
}